<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Validator</title>
</head>
<body>
<style type="text/css">
    .warn {
        color: red
    }
</style>
<form method="post" th:action="@{/test}" th:object="${user}">
    <div>
        <div>
            <span>姓名：</span>
            <span><input th:field="*{name}" type="text"/></span>
            <span class="warn" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">名字错误</span>
        </div>
        <div>
            <span>年龄：</span>
            <span><input th:field="*{age}" type="number"/></span>
            <span class="warn" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">年龄错误</span>
        </div>
        <div>
            <span>邮箱：</span>
            <span><input th:field="*{email}" type="text"/></span>
            <span class="warn" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">邮箱错误</span>
        </div>
        <div>
            <span>城市：</span>
            <span><input th:field="*{city}" type="text"/></span>
            <span class="warn" th:errors="*{city}" th:if="${#fields.hasErrors('city')}">城市错误</span>
        </div>
        <div>
      <span>
        <button type="submit">提交</button>
      </span>
        </div>
    </div>
</form>
</body>
</html>